<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: page_head('Create New User')}"></head>
<body>
    <div class="container-fluid">
        <div th:replace="~{navigation :: menu}"></div>
        <div>
            <h2 th:text="${'Manage Users | ' + message}"> </h2>
        </div>
        <form th:action="@{/users/save}" th:object="${user}" method="post" style="max-width: 700px;margin: 0 auto"
              enctype="multipart/form-data" id="emailForm" >
            <input type="hidden" th:field="*{id}" id="id">
            <div class="border border-secondary rounded p-3">
                <div class="mb-3 row">
                    <label class="col-sm-4 col-form-label" >Email:</label>
                    <div class="col-sm-8">
                        <input type="email" th:field="*{email}" id="email" class="form-control" required minlength="8" maxlength="128">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="floatingUsername" class="col-sm-4 col-form-label">First Name:</label>
                    <div class="col-sm-8">
                        <input type="text" th:field="*{firstName}" id="floatingUsername" class="form-control" required minlength="2" maxlength="45">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-4 col-form-label">Last Name:</label>
                    <div class="col-sm-8">
                        <input type="text" th:field="*{lastName}" class="form-control" required minlength="2" maxlength="45">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-4 col-form-label">Password:</label>
                    <div class="col-sm-8">
                        <input th:unless="${user.id == null}" oninput="checkPasswordMatch();" type="password" th:field="*{password}"  class="form-control"  minlength="2" maxlength="20">
                        <input th:if ="${user.id == null}" oninput="checkPasswordMatch();" type="password" th:field="*{password}" id="password" class="form-control" required minlength="2" maxlength="20">
                    </div>
                </div>
                <div th:if="${i == null}" class="mb-3 row">
                    <label class="col-sm-4 col-form-label">Retype:</label>
                    <div class="col-sm-8">
                        <input  oninput="checkPasswordMatch();"  id="confirmPass" type="password" class="form-control" required minlength="2" maxlength="20">
                        <div class="invalid-feedback">Please enter a valid retype.</div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-4 col-form-label">Roles:</label>
                    <div class="col-sm-8">
                        <th:block th:each="role : ${listRoles}">
                            <input type="checkbox" th:field="*{roles}"
                            th:text="${role.name}"
                            th:value="${role.id}"
                            class="m-2">
                            <small th:text="|- ${role.description}|"></small><br>
                        </th:block>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-4 col-form-label">Enabled:</label>
                    <div class="col-sm-8">
                        <input type="checkbox" th:field="*{enabled}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-4 col-form-label">Photo:</label>
                    <div class="col-sm-8">
                        <input id="fileImage" name="image" type="file" accept="image/png, image/jpeg" class="mb-2">
                        <img th:src="@{${user.getPhotosImagePath()}}"  id="thumbnail"  alt="Avatar"
                             style="width: 130px; height: auto; border: 2px solid black;">
                    </div>
                </div>
                <div class="text-center">
                    <input type="submit" id="sub" value="Save" class="btn btn-primary m-3">
                    <input type="button" value="Cancel" class="btn btn-secondary" id="myButton">
                </div>
            </div>
        </form>
        <div th:replace="~{fragments :: footer}"></div>
    </div>

    <div class="modal fade text-center" id="modalDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header ">
                    <h4 class="modal-title w-100 text-center " id="modalTitle" ></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <span id="modalBody"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>